<h1>Basic Routings</h1>
<nav>
    <ul>
        <li>
            <a routerLink="/homepage-component" routerLinkActive="active" >Homepage</a>
        </li>
        <li>
            <a routerLink="/landingpage-component" routerLinkActive="active" >Landing Page</a>
        </li>
        <li>
            <a routerLink="/login-component" routerLinkActive="active" >Login</a>
        </li>
        <li>
            <a routerLink="/signup-component" routerLinkActive="active" >Signup</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>